body {
    background-color: rgb(0, 14, 70);
}

.calculator {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #dcdcdc;
    color: #0c3295;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border: 15px solid black;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: blue;
    color: white;
    font-size: 32px;
    border: 5px solid black;
    width: 25%;
    outline: none;
    border-radius: 1px;
}

.all-clear,
.zero-btn {
    width: 50%;
}

.operator,
.equal-sign {
    background-color: #ffc525;
    color: blue;
}

button:hover {
    background-color: rgb(0, 0, 158);
}

.operator:hover,
.equal-sign:hover {
    background-color: #c2910b;
    color: white;
}

.all-clear {
    background-color: red;
}

.all-clear:hover {
    background-color: rgb(173, 16, 16);
}

@media (max-width: 880px) {
    .calculator {
        width: 100%;
        padding: 0;
    }

    .calculator-screen {
        height: 150px;
        font-size: 44px;
    }

    button {
        font-size: 35px;
        height: 100px;
    }

}
